@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400');

html, body {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  user-drag: none;
  -webkit-user-drag: none;
  margin: 0px;
  height: 100%;
  width: 100%;
}

.strip {
  height: 45px;
  width: 100%;
  background: linear-gradient(150deg, #78666c, #5F7885);
  margin: 0;
}

.logo {
  margin: 0;
  float: left;
  margin-left: 10px;
  font-family: Quicksand, sans-serif;
  font-weight: 100;
  color: white;
  font-size: 35px;
}

.logo o {
  color: #104b9cd9;
}

.logo label {
  cursor: pointer;
}

.stripRight {
  cursor: pointer;
  float: right;
  padding-right: 10px;
  height: 100%;
  display: flex;
  align-items:center;
}

.stripRight:hover {
  background-color: #7c919c;
}

.stripRight label {
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  color: #fff;
}

.stripRight img {
  filter: invert(1);
  margin-right: 7px;
}

.page {
  float: left;
  width: 200px;
  height: calc(100% - 45px);
  background-color: #374c57;
}

.user {
  position: relative;
  height: 155px;
  width: 100%;
  margin: 0;
}

.avatar {
  width: 50px;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
}

.name {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color: white;
  position: inherit;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.border {
  margin: 0;
  width: 82%;
  height: 2px;
  border-bottom: 0.2px solid #8894a3;
  position: absolute;
  top: 92%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sidebarProperties {
  cursor: pointer;
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 17px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  display: block;
}

.sidebarProperties:hover {
  background-color: #5F7885;
}

.sidebarProperties img {
  width: 28px;
  display: inline;
  filter: invert(1);
}

.sidebarText {
  color: white;
  position: absolute;
  padding-left: 10px;
  bottom: 17px;
  display: inline;
  font-size: 17px;
  margin: 0;
}

#content {
  background-color: #F5F5F5;
  float: left;
  height: calc(100% - 45px);
  width: calc(100% - 200px);
  position: relative;
}


/* .wrapper{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: lighter;
  font-size: 40px;
} */
.welcome-section {
  font-family: Quicksand;
  font-weight: 700;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(150deg, #2a6163, #7b4752);
  overflow: hidden;
}

.content-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fly-in-text {
  list-style: none;
}

.fly-in-text li {
  display: inline-block;
  margin-right: 20px;
  font-size: 5em;
  opacity: 1;
  transition: all 3s ease;
}

.white {
  color: #ffffffbd;
}

.blue {
  color: #0b2a54d9;
}

.fly-in-text li:nth-child(5) {
  margin-right: 0;
}

/* .enter-button {
  display: block;
  text-align: center;
  font-size: 1em;
  text-decoration: none;
  color: #adff2f;
  opacity: 1;
  margin-top: 30px;
  transition: all 1s ease 2500ms;
} */
.content-hidden .fly-in-text li {
  opacity: 0;
}

.content-hidden .fly-in-text li:nth-child(1) {
  transform: translate3d(-60px, 0, 0);
}

.content-hidden .fly-in-text li:nth-child(2) {
  transform: translate3d(-30px, 0, 0);
}

.content-hidden .fly-in-text li:nth-child(3) {
  transform: translate3d(0px, 0, 0);
}

.content-hidden .fly-in-text li:nth-child(4) {
  transform: translate3d(30px, 0, 0);
}

.content-hidden .fly-in-text li:nth-child(5) {
  transform: translate3d(60px, 0, 0);
}

/* .content-hidden .enter-button { opacity: 0; transform: translate3d( 0, -30px, 0);} */

.contentShadow {
  background-color: #0000005c;
  height: calc(100% - 45px);
  width: calc(100% - 200px);
  position: fixed;
  right: 0;
  -webkit-animation: fadeIn 200ms;
  animation: fadeIn 200ms;
}

@-webkit-keyframes fadeIn {
 from {opacity: 0;}
 to {opacity: 1;}
}

@keyframes fadeIn {
 from {opacity: 0;}
 to {opacity:1 ;}
}
