@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400');

html, body {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  user-drag: none;
  -webkit-user-drag: none;
  margin: 0px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.strip {
  height: 45px;
  width: 100%;
  background: linear-gradient(150deg, #78666c, #5F7885);
  margin: 0;
  z-index: 100;
}

.strip-left {
  margin: 0;
  float: left;
  margin-left: 10px;
  font-family: Quicksand, sans-serif;
  font-weight: 100;
  color: white;
  font-size: 35px;
  display: flex;
  align-items: center;
}

.burger-menu{
  display: none;
  height: 33px;
  margin-right: 10px;
  cursor: pointer;
  filter: invert(100%);
}

#logo o {
  color: #104b9cd9;
}

#logo {
  cursor: pointer;
}

.stripRight {
  cursor: pointer;
  float: right;
  padding-right: 10px;
  height: 100%;
  display: flex;
  align-items:center;
}

.stripRight:hover {
  background-color: #7c919c;
}

.stripRight label {
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  color: #fff;
}

.stripRight img {
  filter: invert(1);
  margin-right: 7px;
}

.left-menu {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 200px;
  min-width: 200px;
  background-color: #374c57;
}

@media screen and (max-width:1014px) {
  .left-menu {
    height: 0;
    position: absolute;
    z-index: 100;
    overflow: hidden;
    transition-property: height;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
    border-bottom-left-radius:2px;
    border-bottom-right-radius: 2px;
  }
  .burger-menu{
    display: inline-flex;
  }
  .contentShadow {
    width: 100% !important;
  }
  #closeLeftMenu{
    display: none;
    height: calc(100% - 45px);
    width: calc(100% - 200px);
    position: absolute;
    left: 200px;
    z-index: 100;
  }
}

@media screen and (min-width:1015px) {
  .left-menu{
    height: unset !important;
  }
}

.page{
display: flex;
flex-direction: row;
height: calc(100% - 45px);
}

.user {
  position: relative;
  height: 155px;
  min-height: 155px;
  width: 100%;
  margin: 0;
}

.avatar {
  display: none;
  width: 50px;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
}

.name {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color: white;
  position: inherit;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.border {
  margin: 0;
  width: 82%;
  height: 2px;
  border-bottom: 0.2px solid #8894a3;
  position: absolute;
  top: 92%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sidebarProperties {
  cursor: pointer;
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 17px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  display: block;
}

.sidebarProperties:hover {
  background-color: #5F7885;
}

.sidebarProperties img {
  width: 28px;
  display: inline;
  filter: invert(1);
}

.sidebarText {
  color: white;
  position: absolute;
  padding-left: 10px;
  bottom: 17px;
  display: inline;
  font-size: 17px;
  margin: 0;
}

#content {
  padding: 0 10px;
  background-color: #F5F5F5;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  overflow: auto;
  min-height: 400px;
}

.contentShadow {
  background-color: #0000005c;
  height: calc(100% - 45px);
  width: calc(100% - 200px);
  position: fixed;
  right: 0;
  -webkit-animation: fadeIn 200ms;
  animation: fadeIn 200ms;
}

@-webkit-keyframes fadeIn {
 from {opacity: 0;}
 to {opacity: 1;}
}

@keyframes fadeIn {
 from {opacity: 0;}
 to {opacity:1 ;}
}
